<!DOCTYPE html>
<html id="html">
  <head>
    <title>ext-ujs iframe</title>

    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="cf50faa3fe97702ca1ae"/>

    <script type="text/javascript" src="/vendor/ext-core.js"></script>
    <script type="text/javascript" src="/vendor/ext-fireevent.js"></script>
    <script type="text/javascript" src="/vendor/rails.js"></script>
        
    <script type="text/javascript" src="/spec/settings.js"></script>
    <script type="text/javascript" src="/spec/data-method-iframe.js"></script>
  </head>

  <body id="body">
    <div id='fixtures-iframe'></div>
  </body>
</html>
