<!DOCTYPE html>
<html id="html">
  <head>
    <title>extjs-ujs specs</title>
    <link rel="stylesheet" type="text/css" href="/vendor/jasmine-1.0.1/jasmine.css">
    <style> .fixture { text-indent: -9000em; position: absolute} </style>
    
    <script type="text/javascript" src="/vendor/jasmine-1.0.1/jasmine.js"></script>
    <script type="text/javascript" src="/vendor/jasmine-1.0.1/jasmine-html.js"></script>
    <script type="text/javascript" src="/vendor/ext-core.js"></script>
    <script type="text/javascript" src="/vendor/ext-fireevent.js"></script>
    <script type="text/javascript" src="/vendor/ext-compatibility.js"></script>
    <script type="text/javascript" src="/vendor/rails.js"></script>

    <script type="text/javascript" src="/spec/settings.js"></script>
    <script type="text/javascript" src="/spec/data-confirm.js"></script>
    <script type="text/javascript" src="/spec/data-remote.js"></script>
    <script type="text/javascript" src="/spec/data-disable.js"></script>
    <script type="text/javascript" src="/spec/call-remote.js" ></script>
    <script type="text/javascript" src="/spec/call-remote-callbacks.js" ></script>
    <script type="text/javascript" src="/spec/data-method.js" ></script>
  </head>

  <body id="body">
    <script type="text/javascript">
      Ext.onReady(function() {
        jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
        jasmine.getEnv().execute();
      });
    </script>

    <div id='fixtures-iframe' class='fixture'>
      <iframe onload="this.loaded=true;" src="<%=@app_base_url%>/iframe" width=450 height=100>
        <div class='iframe'>
          <div id='iframe_form'></div>
        </div>  
      </iframe>
    </div>

    <div id='fixtures-iframe-csrf' class='fixture'>
      <iframe onload="this.loaded=true;" src="<%=@app_base_url%>/iframe-csrf" width=450 height=100>
        <div class='iframe'>
          <div id='iframe_form'></div>
        </div>  
      </iframe>
    </div>
   
    <div id='fixtures' class='fixture'></div>
  </body>
</html>
